/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

body {
  display: flex;
  justify-content: center;
}

#root {
  padding: 45vh;
}

h1, h2{
  font-family: Helvetica;
  color: #037bfc;
}

.smallerCaps {
  margin-bottom: 3%;
}

.smallerCaps span{
  margin-left: 41%;
  background-color: red;
  color: yellow;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 25px;
}

.Caps {
  margin-top: -20%;
  margin-bottom: 3%;
}

.Caps span{
  margin-left: 42%;
  background-image: linear-gradient(yellow, orange);
  color: green;
  font-weight: bold;
  font-family: Helvetica;
  font-size: 30px;
}

#Card-Container {
  display: flex;
  align-self: center;
}

.CardStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid red;
  margin: 10px;
  background-image: linear-gradient(orange, yellow);
  height: 250px;
  width: 250px;
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.CardStyle h5 {
  margin-top: -9%;
}